@font-face {
    font-family: "Inter Regular";
    src: url("../misc/fonts/Inter-Regular.otf");
}

/*Table specific tables*/

/*Generic styles for headers and body*/
.table-container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    top: 15svh;
}

table[id*="table"]{
    box-sizing: border-box;
    flex: 1 0 100%;
    margin-top: 5svh;
    border-collapse: collapse;
    border-top: 1px solid color-mix(in srgb, black 85%, white);
    border-bottom: 1px solid color-mix(in srgb, black 85%, white);
    transition: height ease-in;
    overflow-y: scroll;
}

table[id*="table"] th, td{
    box-sizing: border-box;
    font-family: "Inter Regular", sans-serif;
    padding: 20px;
    border-left: 1px solid color-mix(in srgb, black 85%, white);
    border-right: 1px solid color-mix(in srgb, black 85%, white);
}

table[id*="table"] th{
    background-color: #EBE3D5;
}

table[id*="table"]>tbody>tr{
    box-sizing: border-box;
}

table[id*="table"]>tbody>tr>td:last-child {
    text-align: center;
}

[class*="action-"]{
    text-decoration: none;
    color: inherit;
    background-color: #776B5D;
    border: none;
    border-radius: 8px;
    padding: 8px;
}

.flex-spacing{
    flex: 1 0 75%;
}

.action-update{
    background-color: #B0A695 !important;
    position: relative;
    left: 2svw;
}

.action-delete{
    position: relative;
    right: 2svw;
}

.action-add{
    flex: 0 1 20%;
    margin-right: 2svw;
    background-color: #B0A695 !important;
    font-family: "Inter Regular", sans-serif;
    font-size: 18px;
    margin-left: auto;
    height: 6vh;
    max-height: 6vh;
    justify-content: center;
    align-content: center;
}

/* Table animations */
@keyframes item-slide-out {
    from{
        position: relative;
        opacity: 1;
        left: 0;
    }
    to{
        position: relative;
        opacity: 0;
        left: -1000px;
    }
}

/* Alert Banner */
.table-container .alert-banner{
    flex: 1 0 50%;
    display: flex;
    grid-column: 1;
    grid-row: 2;
    font-family: "Inter Regular", sans-serif;
    margin: 0 10svw 0 10svw;
    height: 6vh;
    border-radius: 8px;
}

.table-container .alert-banner span{
    flex: 1 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}